@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rounded-diag {
    border-top-left-radius: 1.5rem; /* 24px */
    border-bottom-right-radius: 1.5rem;
    transition: border-radius 0.5s ease-in-out;
  }

  .rounded-diag:hover {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
}
